
section {
	flex-grow: 2;
	padding-bottom: 0.5em;
}

section > div {
	overflow-x: hidden;
}

section > div > li {
	display: flex;
	height: 2em;
	align-items: center;

	margin-top: 0.5em;
	padding-left: 0.5em;

	background-color: var(--dark-blue);
	color: var(--light-blue);
	border: 2px solid var(--blue);

	clip-path: url("#clip-link-button1");

	width: 200%;
}

section > div > li > a {
	color: inherit;
}

section > div > li > a:visited {
	color: inherit;
}

section > div > li:hover {
	background-color: var(--light-blue);
	color: var(--dark-blue);

	clip-path: url("#clip-link-button2");

	transform: translateX(-50%);

	transition: 0.2s clip-path, 0.2s background-color, 0.2s color;
}

section > div > li > a.link-left {
	min-width: 50%;
	max-width: 50%;

	font-weight: bold;
}

section > div > li > a.link-right {
	min-width: 50%;
	max-width: 50%;
}
