/* Rules related to the Projects page */

#projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

	margin-left: 10%;
	margin-right: 10%;
}

section {
	flex: 1;
	min-width: 24%;

	margin: 1em;
}

section > h1 {
	font-size: 24pt;

	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

@media screen and (max-width: 486px) {
	#projects {
		display: block;
	}
	section {
		flex: 0;
		min-width: 100%;
		margin: 0;
		margin-bottom: 1em;
	}
}

@media screen and (max-width: 768px) {
	#projects {
		display: block;
	}
	section {
		flex: 0;
		min-width: 100%;
		margin: 0;
		margin-bottom: 1em;
	}
}
