/* Rules related to sections, e.g. project listing, blog, etc. */

section {
	background-color: white;
	margin-left: 10%;
	margin-right: 10%;
	padding: 0;

	margin-top: 20px;

	border: 1px solid var(--light-blue);
	background-color: var(--blue);
}

section > h1 {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0.5em;
	padding-bottom: 1ex;
	margin-bottom: 0;
	border-bottom: 1px solid var(--light-blue);

	font-family: "Chewy", cursive;
	color: var(--light-blue);
	font-weight: 100;
}

section > ul.links {
	margin-left: 0;
	margin-right: 0;
	padding-left: 2em;
	padding-top: 1ex; 
	padding-bottom: 1ex;
	border-bottom: 1px solid var(--light-blue);

	color: var(--light-blue);
	margin-top: 0;
	margin-bottom: 0;
}

section > ul.links > a {
	color: var(--light-blue);
	font-family: monospace;
}

section > ul.links > a.github::before {
	content: " ";
	font-family: Font Awesome\ 5 Brands;
}

section > ul.links > a.cgit::before {
	content: " ";
	font-family: Font Awesome\ 5 Brands;
}

section > ul.links > a:last-child::after {
	content: "";
}

section > ul.links > a::after {
	content: " • ";
}

section > div {
	padding-left: 1em;
	padding-right: 1em;
	font-family: sans-serif;
}

/* Inline image in a section with a note */
.box-image {
	display: flex;
	flex-direction: column;

	max-width: 50%;
	height: auto;

	background-color: var(--blue);
	border: 1px solid var(--light-blue);
	margin: 4px;
}

.box-image > img {
	width: 100%;
	height: auto;
	margin: 0;
	border-bottom: 1px solid var(--light-blue);
}

.box-image > span#note {
	padding: 4px;
	font-size: 0.9em;
}

.box-text {
	display: flex;
	flex-direction: column;

	max-width: 50%;
	height: auto;

	background-color: var(--blue);
	border: 1px solid var(--light-blue);
	margin: 4px;
	padding-left: 0.25em;
}

section > div > h1 {
	font-family: "Chewy", cursive;
	color: var(--light-blue);
	font-weight: 100;
}

section > div > h2 {
	font-family: "Chewy", cursive;
	color: var(--light-blue);
	font-weight: 100;
}

section > div > h3 {
	font-family: "Chewy", cursive;
	color: var(--light-blue);
	font-weight: 100;
}

section > div > h4 {
	font-family: "Chewy", cursive;
	color: var(--light-blue);
	font-weight: 100;
}

section > div > h5 {
	font-family: "Chewy", cursive;
	color: var(--light-blue);
	font-weight: 100;
}

section > div > h6 {
	font-family: "Chewy", cursive;
	color: var(--light-blue);
	font-weight: 100;
}

section > div * a {
	color: var(--light-blue);
}

section > div * a:visited {
	color: var(--dark-blue);
}

/* Image box, half-width (only on desktop) */
@media screen and (min-width: 768px) {
	.box-image.box-image-half {
		max-width: 25%;
	}
	.box-text.box-text-half {
		max-width: 25%;
	}
}

@media screen and (max-width: 486px) {
	.box-image {
		max-width: 100%;
	}
}
