@import url("font-awesome.css");

:root {
	--dark-blue: #303640;
	--blue: #5B6678;
	--light-blue: #AEC3E5;
}

/* Chewy - licensed under Apache; see LICENSE in directory */
@font-face {
	font-family: "Chewy";
	font-display: swap;
	src: url("../ttf/Chewy/Chewy-Regular.ttf") format('truetype');
	license: url("../ttf/Chewy/LICENSE");
}

html, body {
	padding: 0;
	margin: 0;

	--background-image: url("../img/style/pattern_dots.png");
	background-image: url("../img/style/pattern_batthern.png");
	background-repeat: repeat;
    background-position: center;
    background-color: var(--dark-blue);
}

header.homepage {
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 20vh;

	background-color: rgba(0, 0, 0, 0);

	filter: drop-shadow(0px 1px var(--light-blue));
}

header.page {
	width: 100%;
	margin: 0;
	padding: 0;
	max-height: 20vh;

	background-color: rgba(0, 0, 0, 0);

	filter: drop-shadow(0px 1px var(--light-blue));

	position: sticky;
	top: 0;
	left: 0;

	z-index: 10000;
}

content {
	min-height: calc(100vh - 2.5vw - 20vh);
	width: 100%;
	margin: 0;

	display: flex;
	flex-direction: column;
}

content.page {
	/* We have a shrinked header in non-home pages */
	min-height: calc(100vh + 0.5vw - 20vh);
}

nav {
	background-color: var(--dark-blue);
	border: 2px solid;
	border-color: var(--blue);

	margin: 1em;
	margin-left: 10%;
	margin-right: 10%;

	order: -1;
}

nav > a > button {
	background-color: rgba(0, 0, 0, 0);
	border: 0;

	color: var(--light-blue);
	font-family: "Chewy", serif;
	font-size: 16pt;

	padding-left: 1.5em;
	padding-right: 1.5em;
	margin-bottom: 0;
	height: 6ex;

	outline: none;
}

nav > a > button:hover {
	background-color: var(--blue);
	transition: 0.25s background-color;
}

header.homepage > #header-content {
	min-height: 100%;
	background-image: url("../img/style/header3_small.jpg");
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	
	clip-path: url("#clip-header");

	display: flex;
	flex-direction: column;
	align-content: center;
	text-align: center;
	align-items: center;

	padding: 5vw;

	color: #eee;
	text-shadow: 1px 1px black;
}

header.homepage > #header-content > h1 {
	font-family: "Chewy", cursive;
	font-size: 48pt;
}

/* Footer */

footer {
	width: 100%;
	height: 2.5vw;
	margin: 0;
	padding: 0;

	margin-top: 4em;

	background-color: var(--dark-blue);

	filter: drop-shadow(0px -1px var(--light-blue));
}

footer::before {
	content: "";
	display: block;
	background-color: var(--dark-blue);

	width: 100%;
	height: 2.5vw;

	margin-bottom: -2.5vw;
	position: relative;
	top: calc(-2.5vw + 1px);

	clip-path: url("#clip-footer");
}

footer > #footer-content {
	color: var(--light-blue);
	padding-top: 1em;
	padding-left: 1em;
	font-family: sans-serif;
	background-color: var(--dark-blue);
}

.clip-svg {
	opacity: 0;
	position: fixed;
	left: -99vw;
	top: -99vh;
}

footer > div > a {
	color: var(--light-blue);
}

footer > div > a:visited {
	color: var(--light-blue);
}

/* Non-homepage header */

header.page > #header-content {
	min-height: 100%;
	background-image: url("../img/style/header3_small.jpg");
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	
	clip-path: url("#clip-header");

	display: flex;
	flex-direction: row;

	color: #eee;
	text-shadow: 1px 1px black;
}

header.page > #header-content > h1 {
	font-family: "Chewy", cursive;
	font-size: 24pt;

	height: 100%;
	display: block;
	
	margin-top: 0;
	margin-bottom: 0;
	margin: 0;
	padding-bottom: 0.5em;
	padding-top: 0.25em;
	padding-left: 0.5em;
	background-color: var(--dark-blue);
	min-width: 6.5em;
	max-width: 7em;

	clip-path: url("#clip-header-logo");

	filter: drop-shadow(1px 0px var(--light-blue));
}

@media screen and (max-width: 486px) {
	nav {
		display: flex;
		flex-direction: column;
	}

	header.homepage > #header-content {
		background-image: url("../img/style/header3_smaller.jpg");
	}

	header.homepage > #header-content > h1 {
		font-size: 24pt;
	}

	nav > a > button {
		height: 4ex;
	}
}

@media screen and (max-width: 768px) {
	nav > a > button {
		padding-left: 0.75em;
		padding-right: 0.75em;
	}

	header.homepage > #header-content {
		background-image: url("../img/style/header3_smaller.jpg");
	}
}
