#game-list {
	background-color: white;
	margin-left: 10%;
	margin-right: 10%;
	padding: 0;

	margin-top: 20px;

	border: 1px solid var(--light-blue);
	background-color: var(--blue);
}

#game-list > h1 {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0.5em;
	padding-bottom: 1ex;
	margin-bottom: 0;
	border-bottom: 1px solid var(--light-blue);

	font-family: "Chewy", cursive;
	color: var(--light-blue);
	font-weight: 100;
}

#game-list > section > h2 {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0.5em;
	padding-bottom: 1ex;
	margin-bottom: 0;

	font-family: "Chewy", cursive;
	color: var(--light-blue);
	font-weight: 80;
}

#game-list > section {
	margin: 1.0em;
}

.level-screenshots {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	max-width: 50%;
}

.thumbnail {
	width: 160px;
	margin: 0.5em;
	border: 1px solid var(--light-blue);
}
